

body{
	background: rgba(70, 74, 76, 0.14);
}

.container-fluid {
	background: url('../image/bg.jpg') no-repeat 50% fixed;
	background-size: cover;

	.content-wrap {
		display:flex;
		height: 600px;
		position: relative;

			.content {
				margin:auto;

					h1 {
						color: white;
	          font-size: 6em;
	          @media only screen and (max-width: 470px) {
	          font-size: 4em;
	          }
	        }
	        
	        p {
	        color:orange;
	        font-size: 3em;
	        @media only screen and (max-width: 470px) {
	          font-size: 2em;
	          }
	 						span{
	 							color:orange;
	 						}
					}
			}

	}
	
}

.container-fluid:before{
	content: "";
	position:absolute;
	width:100%;
	height:100%;
	background: black;
	opacity: .3;
	top:0;
	left:0;
}

.social .icon{
	text-indent: -9999px;
	display:inline-block;
	width:50px;
	height:50px;
	margin: .5em;
	vertical-align:middle;
}
.social span{
	display:inline-block;
	vertical-align:middle;
	fontsize: 25px;
}

.container{
	text-align: center;
}

	.fb-ico{
		background: url('../image/facebook.png') no-repeat 50%;
		background-size:90%;
	}

	.insta-ico{
		background: url('../image/instagram.png') no-repeat 50%;
		background-size:90%;
	}

	